*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    position: relative;
    height: 400px;
    width: 350px;
    background-color: red;
    border-radius: 10px;
    overflow: hidden;
}
#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
#container i{
    position: absolute;
    font-size: 75px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    transition: all ease o.3s;
}