*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cursor{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    mix-blend-mode: difference;
    background-color: white;
    transition: all linear o.2s;
}
h1{
    font-size: 10vw;
    font-weight: 600px;
}